html {
  box-sizing: border-box;
}
html *,
html *::before,
html *::after {
  box-sizing: inherit;
}

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans 3", sans-serif;
  padding-top: 120px;
}

.profile-header {
  width: 100%;
  background-color: #f5ae2c;
  background-image: url("/images/subtle-grunge.png");
  background-repeat: repeat;
  background-size: auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.profile-header img {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}
.profile-header h2 {
  font-family: "Source Sans 3", sans-serif;
  font-size: 1.6rem;
  margin: 0;
  color: #545149;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 20px;
  width: 100%;
  padding: 20px;
  background-color: inherit;
  margin: 0 auto;
}

@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
  }
  .left-column {
    flex: 0 0 512px;
    margin-right: 20px;
  }
  .left-column .profile-header {
    width: 100%;
    height: auto;
    margin-bottom: 0;
  }
  .new-tweet,
  .tweets-container {
    flex: 3;
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
    margin: 0 auto;
  }
}


