nav {
    height: 120px; 
    width: 100%; 
    background-color: #4056A1; 
    color: #FFFFFF; 
    display: flex; 
    align-items: center; 
    padding: 0 1.5em; 
    padding: 20px 0;
    box-sizing: border-box; 
    justify-content: space-between;
    position: fixed;
  }
  
  .tweeter{
    font-family: 'Bungee', sans-serif; 
    font-size: 1.5em; 
  }
  .new-tweet {
    display: flex; 
    color: #FFFFFF; 
    align-items: center;
    justify-content: end;
    font-family: 'Source Sans 3', sans-serif; 
    font-size: 1em; 
    margin-right: 1.5em;
  }
  
  .new-tweet span {
    display: block; 
    margin-bottom: 0.5em; 
    margin-right: 0.5em;
  }
  
  .new-tweet i {
    font-size: 1.2em; 
  }
  
  
  
  