.container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.new-tweet {
  position: fixed;
  top: 10px;
  right: 10px;
  background: white;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid #545149;
  margin-top: 20px; /* Ensures it isn't behind the navbar */
  z-index: 900;
}

.new-tweet h2 {
  text-align: center;
  font-size: 1.5em;
  color: #4056A1;
  margin-bottom: 10px;
}

/* Style the form and its elements */
.new-tweet form {
  display: flex;
  flex-direction: column; 
}

.new-tweet label {
  color: #4056A1;
  font-size: 1.2em;
}

textarea {
  border: none;
  border-bottom: 3px solid #545149;
  resize: none;
  font-size: 1.2em;
  padding: 10px;
  margin-bottom: 10px;
  background-color: transparent;
  outline: none;
}

div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  background-color: #4056A1;
  color: #FFFFFF;
  font-weight: bold;
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1em;
}

button:hover {
  background-color: #2a3e7b;
}
